[[#if (urlParam "frame")]]
<style>
  .rs-application .page.page-local-overwrite {
    padding-top: 0;
  }
</style>
<div class="page page-local-overwrite">
    [[> rsp:ResourceContent]]
</div>

[[else]]
[[!-- Breadcrumb --]]
<ol class="page-breadcrumb">
    <li>
        <mp-link title="Home" url="/">Home</mp-link>
    </li>

   [[#block "activeBreadcrumb"]]
  <semantic-query query='PREFIX base: <http://www.cidoc-crm.org/cidoc-crm/>
PREFIX rdfs: <http://www.w3.org/2000/01/rdf-schema#>

SELECT  ?type ?label
WHERE {
    <[[this]]> a base:E18_Physical_Thing ;
            base:P2_has_type ?type.
    ?type base:P2_has_type <http://www.lynx.com/resource/classification> ;
            rdfs:label ?label .
}'
    template='{{> breadcrumbTmpl}}'>
    <template id='breadcrumbTmpl'>
      <li class="active">
        {{#each bindings}}
          {{type.value}}: {{label.value}}{{#if @last}}{{else}}; {{/if}}
        {{/each}}
      </li>
    </template>
   </semantic-query>
   [[/block]]
</ol>

[[!-- Resource Page --]]
<div class="page">
  [[> rsp:ResourceContent]]
</div>
[[/if]]
